.movies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.top-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    strong {
      border-bottom: 1px solid var(--text-white);
    }
  }
}
