.search {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  background-color: var(--bg-color);
  align-items: center;
  font-size: 1.2rem;
  gap: 10px;

  input,
  select {
    @extend .search;
    border: 1px solid var(--text-white);
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: var(--text-white);
    border-radius: 5px;

    &:focus {
      outline: 0;
    }
  }

  &__button {
    background-color: var(--text-white);
    color: var(--text-black);
    font-weight: bolder;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    border-radius: 5px;
    cursor: pointer;

    &__disabled {
      @extend .search__button;
      background-color: var(--dark-blue);
      color: var(--text-black);
      cursor: wait;
    }
  }
}

@media (max-width: 900px) {
  .search {
    grid-template-columns: 50% 1fr;
  }
}
